src/*.exe
src/ixcoin
src/ixcoind
src/test_ixcoin
src/data
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
ixcoin-qt
Bitcoin-Qt.app

# Unit-tests
Makefile.test
bitcoin-qt_test
ixcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
